@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 8px;
  padding: 4px;
  outline: none;
}

button {
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: 8px;
  padding: 4px 8px;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 500;
}

button:hover, button:active {
  color: var(--background);
  background-color: var(--foreground);
}
